@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Open Sans;
  list-style: none;
  text-decoration: none;
}

/* nav related styles */
.text-primary {
  color: #fd6e0a;
}

.button {
  border-radius: 0.3125rem;
  background: #fd6e0a;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff8f3;
  padding: 0 8rem;
}

nav > ul {
  display: flex;
  align-items: center;
}

nav li {
  margin-right: 3.19rem;
}

nav a {
  color: #474747;
  font-size: 1.25rem;
  font-weight: 400;
}

.mary {
  color: #181818;
  font-size: 2.8125rem;
  font-weight: 800;
}

/* banner styles */

.banner {
  background-color: antiquewhite;
  display: flex;
  padding-left: 8rem;
  align-items: center;
  justify-content: space-between;
  background-image: url("images/header_bg.png"), url("images/developer.png");
  background-position: bottom right, top left;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 50% 80%, 5% 95%;
  
}

.banner_text_content {
  max-width: 500px;
}

.banner_para {
  margin-bottom: 1rem;
}

.banner_image_men {
  padding-right: 1rem;
  height: 500px;
}

/* style for main */

main {
  max-width: 71.25rem;
  margin: 0 auto;
}

.about_me {
  text-align: center;
  margin-top: 5rem;
  padding: 5rem;
  background-color: #FAEBD7;
}


.about_me h2{
  margin-bottom: 1rem;
}

.about_me p{
  max-width: 50rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.about_info_container {
  display: flex;
  justify-content: space-around;
}


/* what i do section */

.what_I_do_container {
  margin-top: 5rem;
}

.what_I_do_container h2{
 text-align: center;
 margin-bottom: 1rem;
}

.what_I_do_container p{
  max-width: 50rem;
  margin: 0 auto;
  margin-bottom: 1rem;
 }

 .skill_content {
  display: flex;
  margin-top: 3rem;
  justify-content: space-around;
 }

 .skill {
  padding: 2rem;
  margin-right: 2rem;
  border-radius: .5rem;
  background-color: #fff;
  box-shadow: 3px 5px 3px 7px rgba(0, 0, 0, 0.047);
 }

 .skill img, h3{
  margin-bottom: 1rem;
 }


 /* A summary of My Resume */
 .summary_section {
  margin-top: 5rem;
 }

.summary_button {
  margin-left: 50%;

  transform: translate(-50%);
 }
 
.summary_section h2{
  text-align: center;
  margin-bottom: 5rem;
}

.summary_section hr{
  max-width: 34rem;

}

 .summary_content{
  display: flex;
  margin: 0 auto;

 }

 .summary_content div{
margin-bottom: 2rem;
 }

